body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: #FBFBFA;
    height: 100vh;
}

/* HEADER */

.header {
    background: #FBFBFA;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
}

/* NAVBAR 1 */

.navbar-1 {
display: none;
}

.nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-block svg {
    margin-right: 5px;
}

.nav-text {
    font-size: 10px;
    font-weight: 400;
    margin-right: 20px;
}

/* NAVBAR 2 */

.navbar-2 {
    height: 83px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
    z-index: 1000;
    background-color: #FBFBFA;
}

.navbar-logo img {
    width: fill;
    height: fill;
}

.navbar-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 0;
    padding: 0;
}

.navbar-buttons li {
    margin-right: 20px;
}

.navbar-buttons li:hover {
    margin-right: 20px;
    text-decoration: underline;
}

.navbar-buttons a {
    text-decoration: none;
    color: #002D4F;; 
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
}

.job-hunting-button .button {
    width: 159px;
    height: 41px;
    background: #002D4F;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    font-weight: 500;
    border-radius: 9px;
    margin-right: 40px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}


/* MEGA MENU  */

.menu-button {
    display: none;
    }
    
    .mega-menu {
    display: none;
    }

/* CONTACT SECTION  */

.contact-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-top: 50px;
}

.contact-content {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact-content > h1 {
    font-size: 30px;
    font-weight: 400;
    color: #002D4F;

}

.contact-content > p {
    font-size: 10px;
    color: gray;
    font-weight: 300;
    max-width: 500px;
    text-align: left;
}

.contact-content > img {
    width: 300px;
}

.calendly {
    padding: 20px;
    display: flex;
    width: 500px;
    height: 500px;
}

/* CTA SECTION 2 */

.cta-section-2 {
    background-color: #002D4F;
    color: #FBFBFA;
    padding: 40px;
}

.cta-content-2 {
    display: flex;
    color: #FBFBFA;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: flex-start;
    flex-direction: column;
}

.cta-text-2 {
    text-align: left;
    flex: 1;
}

.cta-text-2 p {
    font-size: 15px;
}

.cta-text-2 h3 {
    font-size: 24px;
    font-weight: 600;
}

.cta-button-2 {
    width: 253px;
    height: 66px;
    border-radius: 54px;
    border: 1px solid #002D4F;
    background: #FBFBFA;
    color: #002D4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.cta-button-2::after {
    content: "\2192";
    font-size: 24px;
    width: 58px;
    height: 58px;
    background: #002D4F;
    color: #FBFBFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

/* FOOTER */

.footer {
    background-color: #DEE0E0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #002D4F;
    
}

.footer-block {
    text-align: left;
}

.footer h4 {
    font-size: 20px;
}

.footer p {
    font-size: 15px;
    font-weight: 300;
}

.footer svg {
    cursor: pointer;
}

.footer-block a {
    text-decoration: none;
}