body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

/* HEADER */

.header {
    background: #FBFBFA;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

.navbar-1 {
    background: #002D4F;
    height: 28px;
}

.navbar-2 {
    background: #D9D9D9;
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.navbar-logo img {
    width: 280px;
    height: 51px;
}

.navbar-buttons ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar-buttons li {
    margin-right: 20px;
}

.navbar-buttons a {
    text-decoration: none;
    color: #002D4F;; 
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
}

.job-hunting-button .button {
    width: 159px;
    height: 41px;
    background: #002D4F;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    font-weight: 500;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

/* HERO SECTION */

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px; 
}

.cta-group {
    flex: 1;
    text-align: left;
}

.cta-group h1 {
    font-size: 40px;
    color: #002D4F;
}

.cta-group p {
    font-size: 20px;
    color: #555;
}


.image-group {
    flex: 1;
    text-align: right;
}

.image-group img {
    width: 367px;
    height: 427px;
}

/* BUTTON STYLES */

.hero-button {
    width: 253px;
    height: 66px;
    border-radius: 54px;
    border: 1px solid #002D4F;
    background: #FFF;
    color: #002D4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.hero-button::after {
    content: "\2192";
    font-size: 24px;
    width: 58px;
    height: 58px;
    background: #002D4F;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

/* SERVICES SECTION */

#services-section {
    background: #002D4F;
    height: 521px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#services-section h1 {
    color: #FBFBFA;
    font-size: 24px;
    margin-top: 60px;
    font-weight: 400;
    margin-bottom: 60px;
}

#services-cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    align-items: flex-start;
    justify-content:space-between
}

.service-card {
    width: 480px;
    height: 247px;
    flex-wrap: wrap;
    border-radius: 22px;
    background: #FBFBFA;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service-card-content {
    width: 500px;
    height: 181px;
    padding: 20px;
}

.service-card-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 37px;
}

.service-card-title h2 {
    color: #002D4F;
    font-family: Montserrat;
    font-size: 25px;
    margin-right: 100px;
}

.service-card-title svg {
    width: 37px; 
    height: 37px; 
}

.services-list {
    color: #002D4F;
    font-family: Montserrat;
    font-size: 15px;
    text-align: left;
}

/* HOW IT WORKS SECTION */

#how-it-works-section {
    background: #FBFBFA;
    padding: 30px;
    text-align: center;
}

#how-it-works-section h2 {
    font-size: 28px;
    color: #002D4F;
    font-family: Montserrat;
    margin-bottom: 50px;
    font-weight: 500;
}

.cards-group {
    display: flex;
    justify-content: space-between;
    
}

.card {
    width: 196px;
    height: 206px;
    background-color: #FBFBFA;
    text-align: center;
    color: #002D4F;
    padding: 10px;
    margin: 5px;
    border-radius: 19px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #002D4F;
    margin-bottom: 50px;
}

.card:hover {
    background-color: #002D4F;
    color:#FBFBFA;
}

.card h3 {
    margin: 0;
    font-weight: 300;
    margin-top: 20px;
    margin-left: 10px;
}

.card img {
    max-width: 100%;
    max-height: 100%;
}

.card p {
    margin-top: 20px;
    margin-left: 10px;
}

/* CTA SECTION */

.cta-section {
    height: 114px;
    background-color: #002D4F;
    color: #FBFBFA;
    padding: 20px;
}

.cta-content {
    display: flex;
    color: #FBFBFA;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: center;
}

.cta-text {
    font-size: 20px;
    text-align: left;
    flex: 1;
}

.cta-button {
    width: 253px;
    height: 66px;
    border-radius: 54px;
    border: 1px solid #002D4F;
    background: #FFF;
    color: #002D4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.cta-button::after {
    content: "\2192";
    font-size: 24px;
    width: 58px;
    height: 58px;
    background: #002D4F;
    color: #FFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

.less-bold {
    font-weight: 400;
}

/* BENEFITS SECTION */

.benefits-section {
    background-color: #FBFBFA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 50px;
}

.benefits-section h2 {
    font-size: 28px;
    color: #002D4F;
    font-family: Montserrat;
    margin-bottom: 50px;
    font-weight: 500;
    margin-top: 50px;
}

.benefits-section img {
    max-width: 100%;
    max-height: 337px;
    border-radius: 19px;
    border-radius: 18px;
    border: 1px solid #002D4F;
    background: cover no-repeat;
}

/* BENEFITS CARDS */

.benefits-card {
    width: 196px;
    height: 206px;
    flex-shrink: 0;
    border-radius: 18px;
    border: 1px solid #002D4F;
    background: #FBFBFA;
    margin-right: 20px;
}

.benefits-cards {
    display: flex;
    justify-content:space-around;
}

.benefits-card-content {
    padding: 10px;
}

.benefits-card-content h3 {
    font-size: 20px;
    color: #002D4F;
}

.benefits-card-content p {
    font-size: 12px;
    color: #002D4F;
}


