body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: #FBFBFA;
}

/* HEADER */

.header {
    background: #FBFBFA;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

/* NAVBAR 1 */

.navbar-1 {
    background: #002D4F;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 40px;
    padding-left: 40px;
}

.nav-block {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.nav-block svg {
    margin-right: 5px;
}

.nav-text {
    font-size: 10px;
    font-weight: 400;
    margin-right: 20px;
}

/* NAVBAR 2 */

.navbar-2 {
    height: 83px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    display: none;
}

.navbar-logo img {
    width: 280px;
    height: 51px;
    display: none;
}

.navbar-buttons ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 500px;
    display: none;
}

.navbar-buttons li {
    margin-right: 20px;
    display: none;
}

.navbar-buttons a {
    text-decoration: none;
    color: #002D4F;; 
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 400;
    display: none;
}

.job-hunting-button .button {
    width: 159px;
    height: 41px;
    background: #002D4F;
    color: #FFF;
    text-align: center;
    font-family: Montserrat;
    font-size: 15px;
    display: flex;
    font-weight: 500;
    border-radius: 9px;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    border: none;
    cursor: pointer;
    display: none;
}

/* ABOUT SECTION */

.about-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-top: 50px;
    padding: 40px;
}

.about-content {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

.about-button {
    background-color: #002D4F;
    color: #DEE0E0;
    border: none;
    border-radius: 10px;
    padding: 15px;
    cursor: pointer;
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    margin-bottom: 30px;
}

.about-content h3 {
    font-size: 24px;
    font-weight: 500;
    color: #002D4F;
}

.about-content p {
    font-size: 15px;
    font-weight: 200;
    color: gray;
    margin-top: -10px;
    max-width: 50rem;
}

.team-photo img {
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 18px;
}

.team-photo {
    display: flex;
    transition: transform 0.5s ease;
}

.team-photo:hover {
    transform: scale(1.1);
}

/* MEET OUR TEAM SECTION */

.meet-our-team {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
}

.meet-our-team h2 {
    color: #002D4F;
    font-weight: 500;
    margin-bottom: 50px;
    font-size: 24px;
}

.profile-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 100%;
}

.profile-card {
    display: flex;
    flex-direction: column;
}

.profile-card img {
    height: 20rem;
    width: 20rem;
    border-radius: 18px;
    cursor: pointer;

}

.profile-card h4 {
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
    color: #002D4F;
    font-weight: 400;
}

.profile-card p {
    font-size: 12px;
    margin-top: 5px;
    opacity: 0.5;
    font-weight: 300;
}

/* COLLEGE SECTION */

.college-section {
    display: flex;
    align-items: center;
    justify-content: center;
}

.college-content {
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.college-section img {
    height: 6rem;
    padding: 100px;
    margin-right: 30px;
    filter: grayscale(1);
    opacity: 0.5;
    transition: opacity 1s ease,
}

.college-section img:hover {
    filter: none;
    opacity: 1;
}

.college-description h2{
    font-size: 24px;
    font-weight: 500;
    color: #002D4F;
}

.college-description p{
    font-size: 15px;
    color: gray;
    font-weight: 300;
}

/* CTA SECTION 2 */

.cta-section-2 {
    background-color: #002D4F;
    color: #FBFBFA;
    padding: 40px;
}

.cta-content-2 {
    display: flex;
    color: #FBFBFA;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: flex-start;
    flex-direction: column;
}

.cta-text-2 {
    text-align: left;
    flex: 1;
}

.cta-text-2 p {
    font-size: 15px;
}

.cta-text-2 h3 {
    font-size: 24px;
    font-weight: 600;
}

.cta-button-2 {
    width: 253px;
    height: 66px;
    border-radius: 54px;
    border: 1px solid #002D4F;
    background: #FBFBFA;
    color: #002D4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.cta-button-2::after {
    content: "\2192";
    font-size: 24px;
    width: 58px;
    height: 58px;
    background: #002D4F;
    color: #FBFBFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

/* FOOTER */

.footer {
    background-color: #DEE0E0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #002D4F;
    flex-direction: column;
}

.footer-block {
    text-align: left;
    padding: 20px;

}

.footer h4 {
    font-size: 25px;
}

.footer p {
    font-size: 20px;
}

.footer svg {
    cursor: pointer;
}


.footer-block a {
    text-decoration: none;
}