body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    background: #FBFBFA;
}

/* HEADER */

.header {
    background: #FBFBFA;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    color: #ffffff;
    font-weight: bold;
    font-size: 16px;
}

/* NAVBAR 1 */

.navbar-1 {
    display: none;
}

/* NAVBAR 2 */

.navbar-2 {
    display: none;
}

/* MEGA MENU  */

.nav-button {
    background-color: #002D4F;
    width: 100%;
    height: 100px;
    z-index: 100;
    top: 0px;
    position: fixed;
}

.menu-button {
    background-color:#002D4F;
    width: 80px;
    height: 80px;
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 20px;
    right: 20px;
    top: 20px;
    position: fixed;
    color: #FBFBFA;
    cursor: pointer;
    z-index: 100;

}

.mega-menu {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: #002D4F;
    color: #FBFBFA;
    display: none;
    z-index: 99;
    box-sizing: border-box;
    font-size: 18px;
}

.mega-menu-columns {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    margin-top: 150px;
}

.mega-menu-column {
    gap: 16px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mega-menu-column a {
    font-size: 30px;
    font-weight: 400;
    text-decoration: none;
    color: #FBFBFA;
}

.mega-menu.active {
    display: block;
}

body.mega-menu-active .fixed-header {
    background-color: transparent;
    color: transparent;
}

.mega-menu-columns-footer {
    display: flex;
    align-items: flex-start;
    gap: 60px;
    padding: 200px;
}

body.mega-menu-active .fixed-header .search-button,
body.mega-menu-active .fixed-header .login-button {
    color: transparent;
    visibility: hidden;
}

body.mega-menu-active .fixed-header .logo img,
body.mega-menu.active .fixed-header .login-button,
body.mega-menu-active .fixed-header .search-button img {
    color: transparent;
    visibility: hidden;
}

.menu-icon {
    font-size: 40px;
    font-weight: 100;
}

/* SERVICES SECTION */

.services-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #002D4F;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.services-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    margin-top: 50px;
}

.title {
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
}

.service {
    display: flex;
    flex-direction: column;
    border-radius: 48px;
    transition: transform 0.6s ease;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.11); 
    cursor: pointer;
    max-width: 40rem;
}

.service:hover {
    transform: rotate(1deg);
}

.service-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 30px;
}

.service-content h2 {
    font-weight: 500;
    margin-top: 0px;
}

.service-content p {
    font-weight: 300;
    margin-top: 0px;
}

.service-content img {
    width: 100%;
    height: 200px;
    object-fit: contain; 
}

.picture {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 360px;
}

.picture img {
    display: flex;
    height: 360px;
}

/* CTA SECTION 2 */

.cta-section-2 {
    background-color: #002D4F;
    color: #FBFBFA;
    padding: 20px;
}

.cta-content-2 {
    display: flex;
    color: #FBFBFA;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    align-items: flex-start;
    flex-direction: column;
}

.cta-text-2 {
    text-align: left;
    flex: 1;
}

.cta-text-2 p {
    font-size: 15px;
}

.cta-text-2 h3 {
    font-size: 25px;
    font-weight: 600;
}

.cta-button-2 {
    width: 253px;
    height: 66px;
    border-radius: 54px;
    border: 1px solid #002D4F;
    background: #FBFBFA;
    color: #002D4F;
    text-align: center;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    cursor: pointer;
    position: relative;
}

.cta-button-2::after {
    content: "\2192";
    font-size: 24px;
    width: 58px;
    height: 58px;
    background: #002D4F;
    color: #FBFBFA;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 4px;
    top: 50%;
    transform: translateY(-50%);
}

/* FOOTER */

.footer {
    background-color: #DEE0E0;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    color: #002D4F;
    flex-direction: column;
}

.footer-block {
    text-align: left;
    padding: 20px;

}

.footer h4 {
    font-size: 25px;
}

.footer p {
    font-size: 20px;
}

.footer svg {
    cursor: pointer;
}


.footer-block a {
    text-decoration: none;
}